// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
:root {
  --primary-color: #76b085;
  --accent-color: #d74b5d;
  --secondary-color: #9AC9A6;
}
